<style>
    .card {
        align-items: center;
        margin-left: 25%;
        margin-top: 5%;
        width: 50%;
        height: 400px;
        box-shadow: 5px 5px 5px #aaa;
        background: rgb(140, 140, 140);
        border-radius: 25px;
    }
</style>

<div class="card">
    <h1 style="text-align:center;">First Question</h1>
    <a class="button" routerLink="/restart-page" style="margin-right: 100px; margin-left: 250px;">R Answer 1</a>    
    <a class="button" routerLink="/win-page" >C Answer 2</a>    <br>
    <a class="button" routerLink="/restart-page" style="margin-right: 100px; margin-left: 250px;">R Answer 3</a>
    <a class="button" routerLink="/restart-page" >R Answer 4</a>
</div> 